*{
    margin: 0;
    padding: 0;
    border: 0;

    box-sizing: border-box;
    font-family: sans-serif;
}

.section-comment{
    display: flex;
    align-items: center;
    flex-direction: column;

    min-height: 100vh;
    width: 100%;

    background: linear-gradient(90deg,rgb(190, 44, 68), rgb(235, 102, 204), rgb(255, 44, 44));
    
    padding: 40px;
}

.form, .todos_los_comentarios{

    display: flex;
    flex-direction: column;

    gap: 15px;

    background-color: rgb(247, 247, 247);
    padding: 30px;

    border-radius: 10px;

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.296);

    width: 100%;
    max-width: 600px;
}

.form h2{
    color: rgb(69, 69, 69);
}

.foto-de-perfil{
    width: 70px;
    height: 70px;
}

.foto-de-perfil img{
    width: 100%;
    height: 100%;

    border-radius: 100%;

}

.enviar{
    padding: 15px 30px;
    border-radius: 10px;
    width:fit-content;

    font-weight: 900;
    font-size: 20px;
    color: white;
    background: linear-gradient(90deg,pink, rgb(235, 102, 204), red);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.296);

    cursor: pointer;
}

textarea, .nombre_usuario{
    width: 100%;
    height: 200px;
    resize: none;

    padding: 20px;

    border-radius: 10px;
    font-size: 17px;
}

.nombre_usuario{
    width: auto;
    height: auto;
    padding: 10px 20px;
}

.todos_los_comentarios{
    margin-top: 30px;
    background-color: rgba(247, 247, 247, 0.409);
}

.comentario-container{
    width: 100%;
    padding: 25px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);

    display: flex;
    flex-direction: column;
    gap: 20px;

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.296);
}

.datos{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.left{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

.right input{
    padding: 10px 20px;
    border-radius: 10px;
    width:fit-content;

    font-weight: 900;
    font-size: 20px;
    color: white;
    background-color: rgba(255, 0, 0, 0.649);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.182);
}

.mini_texto{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.nombre{
    font-weight: 900;
    font-size: 20px;
    color: rgb(45, 45, 45);
}

.fecha{
    font-weight: 500;
    font-size: 15px;
    color: rgb(121, 121, 121);
}

.comentario{
    color: rgb(27, 27, 27);
}